body {
    background-color: blue;
    display:flex;
    justify-content: center;
    align-content: center;
    height: 700px;
    margin: 0;

}

button {
    background-color: brown;
    color:bisque;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display; none;
}














